---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: rke2controlplanetemplates.controlplane.cluster.x-k8s.io
spec:
  group: controlplane.cluster.x-k8s.io
  names:
    kind: RKE2ControlPlaneTemplate
    listKind: RKE2ControlPlaneTemplateList
    plural: rke2controlplanetemplates
    singular: rke2controlplanetemplate
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RKE2ControlPlaneTemplate is the Schema for the rke2controlplanetemplates
          API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RKE2ControlPlaneTemplateSpec defines the desired state of
              RKE2ControlPlaneTemplate.
            properties:
              foo:
                description: Foo is an example field of RKE2ControlPlaneTemplate.
                  Edit rke2controlplanetemplate_types.go to remove/update
                type: string
            type: object
          status:
            description: RKE2ControlPlaneTemplateStatus defines the observed state
              of RKE2ControlPlaneTemplate.
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: RKE2ControlPlaneTemplate is the Schema for the rke2controlplanetemplates
          API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RKE2ControlPlaneTemplateSpec defines the desired state of
              RKE2ControlPlaneTemplate.
            properties:
              foo:
                description: Foo is an example field of RKE2ControlPlaneTemplate.
                  Edit rke2controlplanetemplate_types.go to remove/update
                type: string
            type: object
          status:
            description: RKE2ControlPlaneTemplateStatus defines the observed state
              of RKE2ControlPlaneTemplate.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
