apiVersion: controlplane.cluster.x-k8s.io/v1beta2
kind: RKE2ControlPlane
metadata:
  name: rke2cp-test
  namespace: webhook-test
spec: 
  replicas: 3
  version: v1.24.11+rke2r1
  serverConfig:
    cniMultusEnable: true
  gzipUserData: false
  machineTemplate:
    spec:
      infrastructureRef:
        apiGroup: infrastructure.cluster.x-k8s.io
        kind: DockerMachineTemplate
        name: controlplane
      deletion:
          nodeDrainTimeoutSeconds: 120
          nodeVolumeDetachTimeoutSeconds: 300
          nodeDeletionTimeoutSeconds: 30
